<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/js/reveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/markdown/marked.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/markdown/markdown.min.js"></script>

<script src="/util-presentation/assets/js/notes.js"></script>

<script>
	var params = new URLSearchParams(window.location.search);
	if (params.get("shownotes") !== null) {
		Reveal.initialize({
			pdfSeparateFragments: false,
			showNotes: "separate-page",
			width: "95%",
			height: "95%"
		});
	} else if (params.get("print-pdf") !== null) {
		Reveal.initialize({
			pdfSeparateFragments: false,
			width: "95%",
			height: "95%"
		});
	} else {
		Reveal.initialize({
			width: "95%",
			height: "95%"
		});
	}
</script>
