<form>
  <div class="form-group">
    <label for="presentation-url">{{ site.data.i18n.button[page.lang]}}</label>
    <input type="url" class="form-control" id="presentation-url" aria-describedby="qualified-url"
      placeholder="Presentation URL">
    <small id="qualified-url" class="form-text text-muted">{{ site.data.i18n.qualifiedURL[page.lang]}}</small>
  </div>
  <button type="submit" class="btn btn-primary">{{ site.data.i18n.button[page.lang]}}</button>
</form>

<script>
  (function(){
    'use strict';
    window.addEventListener('load', function(){
      var 
    })
  })
</script>